
.ui.dropdown.item:hover .menu .item{
  background: rgba(255,255,255,.15);
    color: #fff!important;
}
.ui.dropdown.item:hover .menu .item:hover{
  background: rgba(0,0,0);
    color: #999!important;
}
.ui.dropdown.item:hover .menu {
    position: relative;
    left: 2%!important;
    top: 15px!important;
  background:transparent;
}
#main-content{
  padding:0 20px;
  width:100%;
  background-color: #000000;
}
.ui.statistics > .statistic:before{
    content: "";
    position: absolute;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-left: -20px;
  top:20px;
}
.ui.statistics > .statistic:first-child:before {
    border-left: 0;
}
.chartData .ui.table tr td{
  border-top:0px;
}

body{
  background: #000;
}

h1 { 
   position: fixed; 
   top: 10%; 
   left: 10%; 
   width: 100%; 
}

h1 span { 
   color: white; 
   font: bold 7.2em Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
}

h2 { 
   position: fixed; 
   top: 25%; 
   left: 5%; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 6em Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
}

h4 { 
   position: fixed; 
   top: 25%; 
   left: 20%; 
   width: 100%; 
}

h4 span { 
   color: white; 
   font: 4em Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
}

.video-overlay {
    position: absolute;
    margin: 5%;
    padding: 1% 1%;
    font: bold 20em Helvetica, Sans-Serif; 
    background-color: #080a09;
    letter-spacing: -1px;  
    color: white;
}

.fadeintext{
  position:fixed;
  display:none;
}
