<br/>
	
<div class="ui menu">  
	  <div class="item header">
		Server : Local
	  </div>
	  <div class="item">
		Stuff to write here</b>
	  </div>
	  <div class="item">
		Gravitational Waves
	  </div>
	  
	  <div class="right menu">
		<a class="active teal item">
			Updates
			<div class="ui teal label">14</div>
		</a>
	 </div>
</div>


<div class="ui segment">
	
	<div class="ui two stackable cards">
	  <div class="card">
		<div class="content">
			<h2 class="header">Measured Data</h2>
			<div class="ui divider"></div>
			<table>
				<tr>
				<td><canvas id="ramUsageChart"></canvas></td>
				<td class="chartData"></td>
				</tr>
			</table>
		</div>			
	  </div>	  
	  <div class="card">
		<div class="content">
			<h2 class="header">Amount of Data</h2>
			<div class="ui divider"></div>
			<table>
				<tr>
				<td><canvas id="discUsageChart"></canvas></td>
				<td class="chartData"></td>
				</tr>
			</table>
		</div>
	  </div>  
	  <div class="card">
		<div class="content">
			<h2 class="header">Recorded Activity</h2>
			<div class="ui divider"></div>
			<canvas id="bandwidthUsageChart"></canvas>
		</div>
	  </div>
	  <div class="card">
		<div class="content">
			<h2 class="header">New things to watch out for</h2>
			<div class="ui divider"></div>
			<canvas id="newAccountsChart"></canvas>
		</div>		
	  </div>
	   <div class="card">
		<div class="content">
			<h2 class="header">test</h2>
			<div class="ui divider"></div>
			<canvas id="newAccountsChart"></canvas>
		</div>		
	  </div>
	</div>
	
	
</div>