<br/>

<div>
   <div class="mySlides" >

   	 <div id="A1" style="opacity: 0.0" class="video-overlay ">Gravitational Waves and LIGO</div>
   	 <div id="A2" style="opacity: 0.0; top:60%; left:70%; font-size: 8em; background:unset" class="video-overlay">A Capstone Project</div>
     <video width="100%" height="100%" preload="auto" autoplay="autoplay" loop> <source src="../images/blackholes.m4v#t=10,28">
     </video>
   </div>
  
    <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    		<img src="../images/B.jpg" style="position:fixed; width:50%; height:50%; top:50%; left:50%;">
     	<h1><span>WHAT ARE GRAVITATIONAL WAVES?</span></h1>
     	<h2 id="B1" class="fadeintext" style="left:15%;top:30%"><span>Gravitational waves are ripples in the </br>curvature of spacetime that are seen as waves at </br>the speed of light!</span><h2>
     	<h4 id="B2" class="fadeintext" style="left:20%;top:80%"><span>Einstein actually theorized </br>gravitational waves back in 1916 by his </br>Theory of Relativity!</span><h4>
   		</div>
   </div>
   <div class="mySlides">
     <h1 id="C1" class="fadeintext"><span>EINSTEIN’S GRAVITY</span></h1>
   	 <h2 id="C2" class="fadeintext" style="left:0%;"><span>Gravity is the curvature of spacetime.</span></h2>
   	 <h2 id="C3" class="fadeintext" style="left:50%;top:50%"><span>matter curves spacetime...</panspan></h2>
   	 <h2 id="C4" class="fadeintext" style="left:40%;top:60%"><span>and spacetime tells matter how to move</span></h2>

     <img id= "hi" src="../images/ein.jpg" style="position:absolute;"></img>
     <img src="../images/A.jpg" style="width:100%; height:100%">

   </div>
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed">
     	<h1 style="left:25%;"><span>SO, HOW DOES IT WORK?</span></h1>

     	<h2 id="D1" class="fadeintext" style="left:25%;top:30%;"><span>The more massive something is, </br> the more it curves spacetime!</span><h2>

     	<img id="D2" class="fadeintext" src="../images/usualstar.jpg" style="width:25%;top:50%;left:15%">
     	<img id="D3" class="fadeintext" src="../images/neutronstar.jpg" style="width:25%;top:50%;left:70%">
   		</div>
   </div>
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed">
    		<img src="../images/E.jpg" style="width:100%; height:100%; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";">
     	<h1 style="left:5%;"><span>GRAVITATIONAL WAVES SOURCES</span></h1>
     	<video loop id="Evideo" width="50%" height="100%" style="position:fixed;left:49%;top:0%" preload="auto" autoplay="autoplay"> <source src="../images/waves.mp4#t=0,24"> </video>
     	<h2 id="E1" class="fadeintext" style="left:2%;top:40%"><span>The strongest gravitational waves</span><h2>
     	<h2 id="E2" class="fadeintext" style="left:4%;top:50%"><span>are produced by catastrophic </span><h2>
     	<h2 id="E3" class="fadeintext" style="left:6%;top:60%"><span>events such as colliding black </span><h2>
     	<h2 id="E4" class="fadeintext" style="left:6%;top:70%"><span>holes, the collapse of stellar</span><h2>
     	<h2 id="E5" class="fadeintext" style="left:4%;top:80%"><span>cores (supernovae), or coalescing</span><h2>
     	<h2 id="E6" class="fadeintext" style="left:4%;top:90%"><span>neutron stars or white dwarf stars</span><h2>

   		</div>
   </div>
   	
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    		<img id="F4" src="../images/finding.jpg" style="opacity:0.0;position:fixed; width:50%; height:60%; top:30%; left:50%;">
    		<img id="F3" src="../images/arrow.png" style="opacity:0.0;position:fixed; width:25%; height:10%; top:55%; left:0%;filter:invert(100%);">
     	<h1 style="left:0%"><span>GRAVITATIONAL WAVES - HOW DO WE FIND THEM?</span></h1>
     	<h2 id="F1" class="fadeintext" style="left:5%;top:30%"><span>If we can’t see gravitational</Fr> waves, then how can we</br>prove that they exist?</span><h2>
     	<h2 id="F2" class="fadeintext" style="left:3%;top:70%;"><span>It was LIGO that finally found</br>evidence of gravitational waves</br>on September 14th, 2015!!</span><h2>
   		</div>
   </div>
    <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    		<img id="G4" src="../images/Hanford.jpg" style="opacity:0.0;position:fixed; width:45%; height:50%; top:10%; left:52%;">
    		<h4 id="G6" class="fadeintext" style="left:68%;top:60%"><span>LIGO - HANFORD </span><h4>
    		<h4 id="G7" class="fadeintext" style="left:18%;top:95%"><span>LIGO - LIVINGSTON </span><h4>
    		<img id="G5" src="../images/Livingston.jpg" style="opacity:0.0;position:fixed; width:45%; height:40%; top:55%; left:5%;">
    		
     	<h1 style="left:5%"><span>WHAT IS LIGO?</span></h1>
     	<h4 id="G1" class="fadeintext" style="left:5%;top:25%"><span>LIGO [The Laser Interferometer Gravitational-Wave Observatory]</br> is the world’s largest gravitational wave observatory and a cutting </br>edge physics experiment.</span><h2>
     	<h4 id="G2" class="fadeintext" style="left:5%;top:40%;"><span>Comprised of 2 enormous laser interferometers,</br> located thousands of miles apart, that detect</br> gravitational waves!</span><h4>
   		</div>
   </div>
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    		<img id="H3" src="../images/how1.jpg" style="opacity:0.0;position:fixed; width:30%; height:40%; top:40%; left:5%;">
    		<img id="H4" src="../images/how2.jpg" style="opacity:0.0;position:fixed; width:5%; height:10%; top:40%; left:28%;">
    		<img id="H5" src="../images/how3.jpg" style="opacity:0.0;position:fixed; width:8%; height:5%; top:74%; left:23%;">
    		<video width="50%" height="50%" style="position:fixed;left:45%;top:25%;" preload="auto" autoplay="autoplay" loop>
    		<source id="lasers" src="../images/Laser.m4v"></video>
     	<h1><span>LIGO – HOW DOES IT ALL WORK?</span></h1>
     	<h4 id="H1" class="fadeintext" style="left:5%;top:25%"><span>The main component of LIGO that is in charge of</br> detecting gravitational waves is the</br> Interferometer.</span><h2>
     	<h4 id="H2" class="fadeintext" style="left:5%;top:80%;"><span>An Interferometer is an L-shaped</br> device that measures tiny changes in</br> length using light</span><h4>
     	<h4 id="H6" class="fadeintext" style="left:5%;top:80%;"><span>A passing gravitational wave will</br> stretch one arm of the
interferometer</br> relative to the other.</span><h4>
   		</div>
   </div>
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    	<img src="../images/advance1.jpg" style="position:fixed; width:35%; height:30%; top:20%; left:10%;">
    	<img src="../images/advance2.jpg" style="position:fixed; width:35%; height:30%; top:20%; left:50%;">
    	<img id = "I3" src="../images/advance3.jpg" style="opacity:0.0;position:fixed; width:25%; height:40%; top:55%; left:60%;">
     	<h1><span>THE ADVANCED LIGO DETECTORS</span></h1>
     	<h4 id="I1" class="fadeintext" style="left:10%;top:50%"><span>Initial detectors constructed 1994-2000; collected data 2002-2010 (no detections)</span></h4>
     	<h4 id="I2" class="fadeintext" style="left:15%;top:55%"><span>Upgraded 2010 - 2015</span></h4>
     	<h4 id="I4" class="fadeintext" style="left:10%;top:70%"><span>Each arm: 4 km (~2.5 miles) in length, maintained at ultra-high vacuum</span></h4>
     	<h4 id="I5" class="fadeintext" style="left:10%;top:75%"><span>First operational data run “O1”: Sep 2015 - Jan 2016 </span></h4>
     	
   		</div>
   </div>
   <div class="mySlides">

     	<h1 id="J1" class="fadeintext" style="opacity:0.0"><span>SEPTEMBER 14th, 2015</span></h1>
     	<h2 id="J2" class="fadeintext" style="opacity:0.0;left:10%;top:18%"><span>Gravitational Wave was finally detected</span></h2>
     	<video loop muted id="found" width="50%" height="100%" style="display:none;position:fixed;left:10%;top:10%" preload="auto" autoplay="autoplay"> <source src="../images/detect.m4v"> </video>
     	<img id="J3" src="../images/detect2.jpg" style="opacity:0.0;position:fixed; width:30%; height:50%; top:35%; left:60%;">
   </div>
   <div class="mySlides">
      <h1 style="left:5%"><span>WHY IS THIS SO IMPORTANT?</span></h1>
      <h2 id="K1" class="fadeintext" style="left:10%;top:18%"><span>#1- </span></h2>
      <h2 id="K2" class="fadeintext" style="left:15%;top:18%"><span>Validates General Relativity!</span></h2>
      <h2 id="K5" class="fadeintext" style="left:10%;top:18%"><span>#2- </span></h2>
      <h2 id="K6" class="fadeintext" style="left:15%;top:18%"><span>Whole new Field of Astronomy!!</span></h2>
      <img id="K3" src="../images/what.jpg" style="display:none;position:fixed; width:25%; height:40%; top:25%; left:20%;">
      <img id="K4" src="../images/what2.jpg" style="display:none;position:fixed; width:50%; height:50%; top:25%; left:50%;">
      <img id="K7" src="../images/what5.jpg" style="display:none;position:fixed; width:25%; height:40%; top:30%; left:10%;">
      <img id="K8" src="../images/what3.jpg" style="display:none;position:fixed; width:60%; height:60%; top:25%; left:40%;">
      <img id="K9" src="../images/what4.jpg" style="display:none;position:fixed; width:50%; height:50%; top:30%; left:0%;">
   </div>

   
    <!-- <div class="mySlides">
     <img src="../images/3.jpg" style="width:1350px; height:750px">
   </div>
   </div>
    <div class="mySlides">
     <img src="../images/4.jpg" style="width:1350px; height:750px">
   </div> -->

</div>
<script>

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) location.reload();

    

    if(myIndex==1){
   		$("#A1").animate({opacity: '0.90'}, 8000);
   		$("#A1").animate({opacity: '0.0'}, 3000);
   		$("#A2").delay(11000).animate({opacity: '0.55'}, 1000);
   		$("#A2").animate({opacity: '0.0'}, 1000);
   		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 18000);  
	    setTimeout(function(){document.getElementById("Evideo").play();}, 43500);
	    setTimeout(function(){document.getElementById("lasers").play();}, 22000);
	}
    else if (myIndex == 2){		//use this to set manual timing

        $("#B1").delay(1500).fadeIn();
        $("#B2").delay(3500).fadeIn();

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 9000);  

    }
    else if (myIndex == 3){		//use this to set manual timing

    	$("#hi").animate({
            left: '60%',
            height: '40%',
            width: '25%',
        }, 1000);
        $("#C1").delay(1500).fadeIn();
        $("#C2").delay(2500).fadeIn();
        $("#C3").delay(3000).fadeIn();
        $("#C4").delay(4000).fadeIn();

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 9000);  

    }
    else if(myIndex == 4){
 		$("#D1").delay(1500).fadeIn();
        $("#D2").delay(1500).fadeIn();
        $("#D3").delay(3000).fadeIn();
 		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 9000);   
 	}

    else if(myIndex == 5){
    	$("#E1").delay(1500).fadeIn();
    	$("#E2").delay(3000).fadeIn();
    	$("#E3").delay(4500).fadeIn();
    	$("#E4").delay(6000).fadeIn();
    	$("#E5").delay(7500).fadeIn();
    	$("#E6").delay(9000).fadeIn();
    	x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 24000); 
    }
  	else if (myIndex == 6){		//use this to set manual timing

        $("#F1").delay(1000).fadeIn();
        $("#F2").delay(3000).fadeIn();
        $("#F3").delay(4500).animate({left:'20%',opacity:'1.0'}, 1500);
        $("#F4").delay(4500).animate({opacity:'1.0'}, 1000);



    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 10000); 
   	}
  	else if (myIndex == 7){		//use this to set manual timing

        $("#G1").delay(1500).fadeIn();
        $("#G2").delay(3500).fadeIn();
        $("#G3").delay(5500).animate({left:'20%', opacity:'1.0'});
        $("#G4").delay(6500).animate({opacity:'1.0'}, 1000);
        $("#G5").delay(6500).animate({opacity:'1.0'}, 1000);
        $("#G6").delay(6500).fadeIn();
        $("#G7").delay(6500).fadeIn();

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 13000);  

    }
    else if (myIndex == 8){		//use this to set manual timing

        $("#H1").delay(6000).fadeIn();
        $("#H3").delay(7500).animate({opacity:'1.0'});
        $("#H2").delay(10000).fadeIn();
        $("#H2").delay(6000).fadeOut();
        $("#H4").delay(13000).animate({opacity:'1.0'});
        $("#H6").delay(25000).fadeIn();
        $("#H5").delay(23500).animate({opacity:'1.0'});
        

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 30000); 
   	}
    else if (myIndex == 9){   //use this to set manual timing

        $("#I1").delay(2000).fadeIn();
        $("#I2").delay(4000).fadeIn();
        $("#I3").delay(5000).animate({opacity:'1.0'});
        $("#I4").delay(5000).fadeIn();
        $("#I5").delay(5750).fadeIn();
        

      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 10000); 
    }
   	else if (myIndex == 10){		//use this to set manual timing

        $("#J1").delay(1500).fadeIn().animate({opacity:'1.0'},1000);
        $("#J1").delay(3000).animate({opacity:'0.0'},1000);
        $("#J2").delay(2500).fadeIn().animate({opacity:'1.0'},1000);
        $("#J2").delay(1000).animate({opacity:'0.0'},1000);
        $("#found").delay(8000).fadeIn();
        $("#J3").delay(9500).animate({opacity:'1.0'},3000);



    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 17000); 
   	}
   	else if (myIndex == 11){		//use this to set manual timing

        $("#K1").delay(1500).fadeIn();
        $("#K2").delay(2500).fadeIn();
        $("#K3").delay(3000).fadeIn();
        $("#K4").delay(3500).fadeIn();
        $("#K1").delay(6500).fadeOut();
        $("#K2").delay(5500).fadeOut();
        $("#K3").delay(4000).fadeOut();
        $("#K4").delay(4000).fadeOut();

        $("#K5").delay(9000).fadeIn();
        $("#K6").delay(10000).fadeIn();
        $("#K7").delay(11000).fadeIn();
        $("#K8").delay(12500).fadeIn();
        $("#K9").delay(14000).fadeIn();



    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 19000); 
   	}
    else{    
		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 7000);   
	} 
}


</script>



<!-- <div id="slideshow">
   <div id="box1" class="ui segment">
		<div class="ui two stackable cards">
		  <div class="card">
			<div class="content">
				<h2 class="header">Measured Data</h2>
				<div class="ui divider"></div>
					<canvas id="ramUsageChart" width="200" height="100"></canvas>
					<div class="chartData1"></div>
			</div>			
		  </div>	  
		  <div class="card">
			<div class="content">
				<h2 class="header">Amount of Data</h2>
				<div class="ui divider"></div>
				<table>
					<tr>
					<canvas id="discUsageChart"></canvas>
					<td class="chartData2"></td>
					</tr>
				</table>
			</div>
		  </div>  
		  <div class="card">
			<div class="content">
				<h2 class="header">Recorded Activity</h2>
				<div class="ui divider"></div>
				<canvas id="bandwidthUsageChart"></canvas>
			</div>
		  </div>
		  <div class="card">
			<div class="content">
				<h2 class="header">New things to watch out for</h2>
				<div class="ui divider"></div>
				<canvas id="newAccountsChart"></canvas>
			</div>		
		  </div>
		</div>	
	</div>
   <div id="box1" class="ui segment">
	  <iframe width="100%" height="850px"
		src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
	  </iframe>
	</div>
	<div>
		<img src="../images/graph.png" alt="graph" style="width:128px;height:128px;">
		<img src="../images/wavy.gif" alt="waves" style="width:128px;height:128px;">

	</div>
</div> -->


