<br/>
	
<div class="ui menu">  
	  <div class="item header">
		Server : Local
	  </div>
	  <div class="item">
		Stuff to write here</b>
	  </div>
	  <div class="item">
		Gravitational Waves
	  </div>
	  
	  <div class="right menu">
		<a class="active teal item">
			Updates
			<div class="ui teal label">14</div>
		</a>
	 </div>
</div>

<div>
	<p>work in progress!</p>
</div>


<div id="slideshow">
   <div id="box1" class="ui segment">
		<div class="ui two stackable cards">
		  <div class="card">
			<div class="content">
				<h2 class="header">Measured Data</h2>
				<div class="ui divider"></div>
					<canvas id="ramUsageChart" width="200" height="100"></canvas>
					<div class="chartData1"></div>
			</div>			
		  </div>	  
		  <div class="card">
			<div class="content">
				<h2 class="header">Amount of Data</h2>
				<div class="ui divider"></div>
				<table>
					<tr>
					<canvas id="discUsageChart"></canvas>
					<td class="chartData2"></td>
					</tr>
				</table>
			</div>
		  </div>  
		  <div class="card">
			<div class="content">
				<h2 class="header">Recorded Activity</h2>
				<div class="ui divider"></div>
				<canvas id="bandwidthUsageChart"></canvas>
			</div>
		  </div>
		  <div class="card">
			<div class="content">
				<h2 class="header">New things to watch out for</h2>
				<div class="ui divider"></div>
				<canvas id="newAccountsChart"></canvas>
			</div>		
		  </div>
		</div>	
	</div>
   <div id="box1" class="ui segment">
	  <iframe width="100%" height="850px"
		src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
	  </iframe>
	</div>
	<div>
		<img src="../images/graph.png" alt="graph" style="width:128px;height:128px;">
		<img src="../images/wavy.gif" alt="waves" style="width:128px;height:128px;">

	</div>
</div>

<div id="parent">
    <!-- <div id="box1" class="ui segment">
	  <iframe width="100%" height="850px"
		src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1">
	  </iframe>
	</div> -->
	
</div>