<br/>

<div>
   <div class="mySlides" >

   	 <div id="A1" style="opacity: 0.0" class="video-overlay ">Gravitational Waves and LIGO</div>
   	 <div id="A2" style="opacity: 0.0; top:60%; left:70%; font-size: 8em; background:unset" class="video-overlay">A Capstone Project</div>
     <video width="100%" height="100%" preload="auto" autoplay="autoplay" loop> <source src="../images/blackholes.m4v#t=10,28">
     </video>
   </div>
  
    <div class="mySlides w3-animate-fading">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed;">
    		<img src="../images/B.jpg" style="position:fixed; width:50%; height:50%; top:50%; left:50%;">
     	<h1><span>WHAT ARE GRAVITATIONAL WAVES?</span></h1>
     	<h2 id="B1" class="fadeintext" style="left:15%;top:30%"><span>Gravitational waves are ripples in the </br>curvature of spacetime that are seen as waves at </br>the speed of light!</span><h2>
     	<h4 id="B2" class="fadeintext" style="left:20%;top:80%"><span>Einstein actually theorized </br>gravitational waves back in 1916 by his </br>Theory of Relativity!</span><h4>
   		</div>
   </div>
   <div class="mySlides w3-animate-fading">
     <h1 id="C1" class="fadeintext"><span>EINSTEIN’S GRAVITY</span></h1>
   	 <h2 id="C2" class="fadeintext" style="left:5%;"><span>Gravity is the curvature of spacetime.</span></h2>
   	 <h2 id="C3" class="fadeintext" style="left:50%;top:50%"><span>matter curves spacetime...</panspan></h2>
   	 <h2 id="C4" class="fadeintext" style="left:40%;top:60%"><span>and spacetime tells matter how to move</span></h2>

     <img id= "hi" src="../images/ein.jpg" style="position:absolute;"></img>
     <img src="../images/A.jpg" style="width:100%; height:100%">

   </div>
   <div class="mySlides w3-animate-fading">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed">
     	<h1 style="left:25%;"><span>SO, HOW DOES IT WORK?</span></h1>

     	<h2 id="D1" class="fadeintext" style="left:25%;top:30%;"><span>The more massive something is, </br> the more it curves spacetime!</span><h2>

     	<img id="D2" class="fadeintext" src="../images/usualstar.jpg" style="width:25%;top:50%;left:15%">
     	<img id="D3" class="fadeintext" src="../images/neutronstar.jpg" style="width:25%;top:50%;left:70%">
   		</div>
   </div>
   <div class="mySlides">
    	<div style="background:#080a09; height:100%; width:100%; position:fixed">
    		<img src="../images/E.jpg" style="width:100%; height:100%; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";">
     	<h1 style="left:5%;"><span>Gravitational Waves - A little More Detailed</span></h1>
     	<video loop id="Evideo" width="50%" height="100%" style="position:fixed;left:49%;top:0%" preload="auto" autoplay="autoplay"> <source src="../images/waves.mp4#t=0,24"> </video>
     	<h2 id="E1" class="fadeintext" style="left:2%;top:40%"><span>The strongest gravitational waves</span><h2>
     	<h2 id="E2" class="fadeintext" style="left:4%;top:50%"><span>are produced by catastrophic </span><h2>
     	<h2 id="E3" class="fadeintext" style="left:6%;top:60%"><span>events such as colliding black </span><h2>
     	<h2 id="E4" class="fadeintext" style="left:6%;top:70%"><span>holes, the collapse of stellar</span><h2>
     	<h2 id="E5" class="fadeintext" style="left:4%;top:80%"><span>cores (supernovae), or coalescing</span><h2>
     	<h2 id="E6" class="fadeintext" style="left:4%;top:90%"><span>neutron stars or white dwarf stars</span><h2>

   		</div>
   </div>
    <!-- <div class="mySlides">
     <img src="../images/3.jpg" style="width:1350px; height:750px">
   </div>
   </div>
    <div class="mySlides">
     <img src="../images/4.jpg" style="width:1350px; height:750px">
   </div> -->

</div>
<script>

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) location.reload();

    

    if(myIndex==1){
   		$("#A1").animate({opacity: '0.90'}, 8000);
   		$("#A1").animate({opacity: '0.0'}, 3000);
   		$("#A2").delay(11000).animate({opacity: '0.55'}, 1000);
   		$("#A2").animate({opacity: '0.0'}, 1000);
   		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 18000);  
	    setTimeout(function(){document.getElementById("Evideo").play();}, 38000);
	}
    else if (myIndex == 2){		//use this to set manual timing

        $("#B1").delay(1500).fadeIn();
        $("#B2").delay(3500).fadeIn();

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 7000);  

    }
    else if (myIndex == 3){		//use this to set manual timing

    	$("#hi").animate({
            left: '60%',
            height: '40%',
            width: '25%',
        }, 1000);
        $("#C1").delay(1500).fadeIn();
        $("#C2").delay(2500).fadeIn();
        $("#C3").delay(3000).fadeIn();
        $("#C4").delay(4000).fadeIn();

    	x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 7000);  

    }
    else if(myIndex == 4){
 		$("#D1").delay(1500).fadeIn();
        $("#D2").delay(1500).fadeIn();
        $("#D3").delay(3000).fadeIn();
 		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 7000);   
 	}
 	else if(myIndex == 5){
    	$("#E1").delay(1500).fadeIn();
    	$("#E2").delay(3000).fadeIn();
    	$("#E3").delay(4500).fadeIn();
    	$("#E4").delay(6000).fadeIn();
    	$("#E5").delay(7500).fadeIn();
    	$("#E6").delay(9000).fadeIn();
    	x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 24000); 
    }
    else{    
		x[myIndex-1].style.display = "block";  
	    setTimeout(carousel, 7000);   
	} 
}


</script>



<!-- <div id="slideshow">
   <div id="box1" class="ui segment">
		<div class="ui two stackable cards">
		  <div class="card">
			<div class="content">
				<h2 class="header">Measured Data</h2>
				<div class="ui divider"></div>
					<canvas id="ramUsageChart" width="200" height="100"></canvas>
					<div class="chartData1"></div>
			</div>			
		  </div>	  
		  <div class="card">
			<div class="content">
				<h2 class="header">Amount of Data</h2>
				<div class="ui divider"></div>
				<table>
					<tr>
					<canvas id="discUsageChart"></canvas>
					<td class="chartData2"></td>
					</tr>
				</table>
			</div>
		  </div>  
		  <div class="card">
			<div class="content">
				<h2 class="header">Recorded Activity</h2>
				<div class="ui divider"></div>
				<canvas id="bandwidthUsageChart"></canvas>
			</div>
		  </div>
		  <div class="card">
			<div class="content">
				<h2 class="header">New things to watch out for</h2>
				<div class="ui divider"></div>
				<canvas id="newAccountsChart"></canvas>
			</div>		
		  </div>
		</div>	
	</div>
   <div id="box1" class="ui segment">
	  <iframe width="100%" height="850px"
		src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
	  </iframe>
	</div>
	<div>
		<img src="../images/graph.png" alt="graph" style="width:128px;height:128px;">
		<img src="../images/wavy.gif" alt="waves" style="width:128px;height:128px;">

	</div>
</div> -->


